models/CoreVoc_Public_Event/CoreVoc_Public_Event.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
targetNamespace="http://data.europa.eu/m8g/xsd" 
xmlns="http://data.europa.eu/m8g/xsd" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:dct="http://purl.org/dc/terms/"
xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">    

    <xs:include schemaLocation="../CoreVoc_Common/CoreVoc_CommonTypes.xsd"/>
    <xs:include schemaLocation="../CoreVoc_Aggregat/CoreVoc_Aggregat.xsd"/>
    
<!-- ===== Meta Data==== ================================= -->
    <xs:annotation>
        <xs:documentation>Core Public Event Vocabulary</xs:documentation>
        <xs:appinfo>
            <dct:title>Core Public Event Vocabulary</dct:title>
            <dct:description>This XML schema describes the Core Public Event Vocabulary as part of SEMIC Core Vocabularies .</dct:description>
            <dct:creator>Emidio Stani (PwC Belgium)</dct:creator>
            <dct:creator>Ine Weyts (PwC Belgium)</dct:creator>
            <dct:creator>Wolfgang Keber (DIaLOGIKa GmbH)</dct:creator>  
            <dct:contributor>Pavlina Fragkou (European Commission)</dct:contributor>
            <dct:contributor>Anastasia Sofou (Trasys International)</dct:contributor>
            <dct:contributor>Kristina Hector (DIaLOGIKa GmbH)</dct:contributor>
            <dct:contributor>Patrick Plewka (DIaLOGIKa GmbH)</dct:contributor>
            <dct:licence>Licensed under the CC BY 4.0</dct:licence>
            <dct:rightsHolder>European Union</dct:rightsHolder>
            <dct:rights>Copyright (C) European Union, 2024</dct:rights>
            <dct:created>2025-01-13</dct:created>
        </xs:appinfo>
    </xs:annotation>
<!-- Public Event -->


<!-- ContactPointPEType -->

    <xs:element name="ContactPointPE" type="ContactPointPEType"/>

    <xs:complexType name="ContactPointPEType" sawsdl:modelReference="http://data.europa.eu/m8g/contactPoint">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Information (e.g. e-mail address, telephone number) of a person or department through which the user can get in touch with.
            </xs:documentation>
        </xs:annotation>
    
        <xs:complexContent>
            <xs:extension base="ContactPointType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Information (e.g. e-mail address, telephone number) of a person or department through which the user can get in touch with.
                    </xs:documentation>
                </xs:annotation>
            
                <xs:sequence>
                    <xs:element ref="AvailabilityRestriction" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/specialOpeningHoursSpecification">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The time during which the Contact Point is not available.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="OpeningHours" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/openingHours
">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The time at which the Contact Point is normally available.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
              </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AvailabilityRestriction" type="TemporalEntityType"/> 
    <xs:element name="OpeningHours" type="TemporalEntityType"/> 

    
<!-- ParticipationType -->

    <xs:element name="Participation" type="ParticipationType"/>

    <xs:complexType name="ParticipationType" sawsdl:modelReference="http://data.europa.eu/m8g/Participation">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The Participation class allows to define roles within a certain context.
            </xs:documentation>
        </xs:annotation>
    
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/description">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A textual explanation of the Participation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasParticipant" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/hasParticipant">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The Agent involved in the Participation.        
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasTime" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://www.w3.org/2006/time#hasTime">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The association of a temporal entity (instant or interval) to any thing.    
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Identifier" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/identifier">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The unambiguous structured reference for the Participation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Role" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/role">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The function of an Agent within a Participation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Role" type="CodeType"/> 
    <xs:element name="HasParticipant" type="PublicEventAgentType"/> 
    <xs:element name="HasTime" type="TemporalEntityType"/> 
    

<!-- PublicEventAgentType -->    

    <xs:element name="PublicEventAgent" type="PublicEventAgentType"/>

    <xs:complexType name="PublicEventAgentType" sawsdl:modelReference="http://xmlns.com/foaf/0.1/Agent">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Entity that is able to carry out action.
            </xs:documentation>
        </xs:annotation>
    
        <xs:complexContent>
            <xs:extension base="AgentType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Entity that is able to carry out action.
                    </xs:documentation>
                </xs:annotation>
            
                <xs:sequence>
                    <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://www.w3.org/ns/locn#address">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Associates any Resource with the corresponding Address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="Participates" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/participates">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The participation in which an Agent is involved.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Participates" type="ParticipationType"/> 

    
<!-- PublicEventType -->

    <xs:element name="PublicEvent" type="PublicEventType"/>

    <xs:complexType name="PublicEventType" sawsdl:modelReference="http://data.europa.eu/m8g/PublicEvent">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Something that happens at a particular place and time, organised by one or more agents for a particular purpose, and is of interest to a general audience. This definition excludes natural events such as earthquakes and volcanic eruptions.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="Accessibility" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/accessibility">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Information about how the Public Event can be approached, reached or entered, in particular for people with special needs.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://www.w3.org/ns/locn#address">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Associates any Resource with the corresponding Address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Audience" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/audience">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The target group of people for whom the Public Event is created.
                    </xs:documentation>
                </xs:annotation>
             </xs:element>
             <xs:element ref="ContactPoint" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/contactPoint">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The main contact information of the resource.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Description" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/description">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                         A textual explanation of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="EventNumber" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/eventNumber">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The sequence position of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="EventStatus" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/eventStatus">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This property defines the overall status of the event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="EventType" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/type">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The nature or genre of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ExpectedNumberOfParticipants" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/expectedNumberOfParticipants">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                         The number of participants expected to participate in the event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Format" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/format">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A plan of organisation or arrangement of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasNextEvent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/hasNextEvent">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The Public Event that comes after this one.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasParticipation" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/hasParticipation">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The way how a resource is organized.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasPreviousEvent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/hasPreviousEvent">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The Public Event that comes before this one.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="HasTime" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://www.w3.org/2006/time#hasTime">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The association of a temporal entity (instant or interval) to any thing.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Homepage" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://xmlns.com/foaf/0.1/homepage">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The website of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Identifier" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/identifier">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The unambiguous structured reference for the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Language" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/language">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The language in which the Public Event is given.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ParentEvent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/parentEvent">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A relation to another Public Event that encompasses it.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="RegistrationPage" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/registrationPage">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A web page that provides means to attend the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>       
            <xs:element ref="SubEvent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/subEvent">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A relation towards another Public Event that belong to it.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Title" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/title">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The name given to the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Topic" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/subject">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The subject of the Public Event.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
             
    <xs:element name="Accessibility" type="TextType"/>
    <xs:element name="Audience" type="CodeType"/>
    <xs:element name="EventNumber" type="TextType"/>
    <xs:element name="EventStatus" type="CodeType"/>
    <xs:element name="EventType" type="CodeType"/>
    <xs:element name="ExpectedNumberOfParticipants" type="xs:integer"/>
    <xs:element name="Format" type="CodeType"/>
    <xs:element name="HasNextEvent" type="PublicEventType"/>
    <xs:element name="HasParticipation" type="ParticipationType"/>
    <xs:element name="HasPreviousEvent" type="PublicEventType"/>
    <xs:element name="Homepage" type="DocumentType"/>
    <xs:element name="ParentEvent" type="PublicEventType"/>
    <xs:element name="RegistrationPage" type="DocumentType"/>
    <xs:element name="SubEvent" type="PublicEventType"/>
    <xs:element name="Title" type="TextType"/>
    <xs:element name="Topic" type="CodeType"/>                

    
<!-- TemporalEntityType -->
    
    <xs:element name="TemporalEntity" type="TemporalEntityType"/>

    <xs:complexType name="TemporalEntityType" sawsdl:modelReference="http://www.w3.org/2006/time#TemporalEntity">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A temporal interval or instant.
            </xs:documentation>
        </xs:annotation>
    
        <xs:sequence>
            <xs:element ref="Description" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://purl.org/dc/terms/description">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A textual representation of the Temporal Entity.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="Frequency" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://data.europa.eu/m8g/frequency">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The recurrence of an instant or period.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  
    <xs:element name="Frequency" type="CodeType"/> 


</xs:schema>   
