models/CoreVoc_Common/CoreVoc_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    
    targetNamespace="http://data.europa.eu/m8g/xsd" 
    xmlns="http://data.europa.eu/m8g/xsd" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:dct="http://purl.org/dc/terms/"
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- ===== Meta Data==== ================================= -->
    <xs:annotation>
        <xs:documentation>Core Common Types Vocabulary</xs:documentation>
        <xs:appinfo>
            <dct:title>Core Common Types Vocabulary</dct:title>
            <dct:description>This XML schema describes the Core Common Types Vocabularies as part of SEMIC Core Vocabularies .</dct:description>
            <dct:creator>Emidio Stani (emidio.stani@pwc.com)</dct:creator>
            <dct:creator>Wolfgang Keber (Wolfgang.Keber@dialogika.de)</dct:creator>
            <dct:contributor>Pavlina Fragkou (European Commission)</dct:contributor>
            <dct:contributor>Anastasia Sofou (Trasys International)</dct:contributor>
            <dct:contributor>Kristina Hector (DIaLOGIKa GmbH)</dct:contributor>
            <dct:contributor>Patrick Plewka (DIaLOGIKa GmbH)</dct:contributor>
            <dct:license>Licensed under the CC BY 4.0</dct:license>
            <dct:rightsHolder>European Union</dct:rightsHolder>
            <dct:rights>Copyright (C) European Union, 2024</dct:rights>
            <dct:status>In progress</dct:status>
            <dct:created>2024-10-15</dct:created>
        </xs:appinfo>
    </xs:annotation>
    
  <!-- ===== Element Declarations ===== -->
  
	<xs:element name="AlternativeName" type="TextType"/>
	<xs:element name="Description" type="TextType"/>
	<xs:element name="GenericDate" type="GenericDateType"/>
	<xs:element name="IdentifierLiteral" type="IdentifierLiteralType"/>
    <xs:element name="Language" type="LinguisticSystemType"/>
	<xs:element name="Name" type="NameType"/>
	<xs:element name="Type" type="CodeType"/>

     <!-- ===== Type Definitions ===== -->
    
    <xs:simpleType name="CodeType" sawsdl:modelReference="http://www.w3.org/2004/02/skos/core#Concept">
    	<xs:annotation>
            <xs:documentation xml:lang="en">
                An idea or notion; a unit of thought.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="GenericDateType" sawsdl:modelReference="http://data.europa.eu/m8g/GenericDate">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The date data type is the union of xs:date, xs:gYearMonth and xs:gYear.
            </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear" />
    </xs:simpleType>
    
    <xs:simpleType name="IdentifierLiteralType" sawsdl:modelReference="http://purl.org/dc/terms/identifier">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Unambiguous reference to the Resource.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="InstantType" sawsdl:modelReference="https://www.w3.org/2006/time#Instant">
         <xs:annotation>
            <xs:documentation xml:lang="en">
                A temporal entity with zero extent or duration.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="LiteralType" sawsdl:modelReference="http://www.w3.org/2000/01/rdf-schema#Literal">
         <xs:annotation>
            <xs:documentation xml:lang="en">
                The class of literal values, eg. textual strings and integers.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="LinguisticSystemType" sawsdl:modelReference="http://purl.org/dc/terms/LinguisticSystem">
   		<xs:annotation>
            <xs:documentation xml:lang="en">
               A system of signs, symbols, sounds, gestures, or rules used in communication.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="NameType" sawsdl:modelReference="http://www.w3.org/2004/02/skos/core#prefLabel">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The noun given to the resource.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="TextType" sawsdl:modelReference="http://www.w3.org/1999/02/22-rdf-syntax-ns#langString">
    	<xs:annotation>
            <xs:documentation xml:lang="en">
                The text data type is a combination of a string and a language identifier.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
